<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create car</title>
</head>
<body>
    <form th:action="@{/cars}" method="post" th:object="${car}">
        <label for="brand">Brand:
            <input id="brand" type="text" name="brand" th:value="*{brand}">
        </label><br>

        <label for="model">Model:
            <input id="model" type="text" name="model" th:value="*{model}">
        </label><br>

        <!--<label for="color">Color:
            <input id="color" type="text" name="color" th:value="*{color}">
        </label><br>-->

        <div th:each="color : ${colors}">Color:
            <input th:id="${color}" type="radio" name="color" th:value="${color}">
            <label th:for="${color}" th:text="${color}">Status</label>
        </div>

        <label for="seatAmount">Seat amount:
            <input id="seatAmount" type="text" name="seatAmount" th:value="*{seatAmount}">
        </label><br>

        <label for="pricePerDay">Price per day:
            <input id="pricePerDay" type="text" name="pricePerDay" th:value="*{pricePerDay}">
        </label><br>

        <!--<label for="status">Status:
            <input id="status" type="text" name="status" th:value="*{status}">
        </label><br>-->

        <div th:each="status : ${statuses}">Status:
            <input th:id="${status}" type="radio" name="status" th:value="${status}">
            <label th:for="${status}" th:text="${status}">Status</label>
        </div>

        <button type="submit">Create car</button><br>
    </form>
</body>
</html>